@model Shop.Models.AccuWeathers.AccuWeatherViewModel

<div class="Container">

    <h2> Forecast for the selected city </h2>
    <h2>@Html.DisplayFor(model=>model.City)</h2>
    <hr />
    <dl class="row">


        <div class="form-group row">
            <label asp-for="DailyForecastSources" class="col-sm-2 col-form-label">
                Sources
            </label>
            @Html.DisplayFor(model=>model.DailyForecastSources)
        </div>

        <div class="form-group row">
            <label asp-for="DailyForecastDate" class="col-sm-2 col-form-label"> Forecast date </label>
            @Html.DisplayFor(model=>model.DailyForecastDate)
        </div>

        <div class="form-group row">
            <label asp-for="HeadlinesEndDate" class="col-sm-2 col-form-label">
                Forecast End Date
            </label>
            @Html.DisplayFor(model=>model.HeadlinesEndDate)
        </div>

        <div class="form-group row">
            <label asp-for="DailyForecastTemperaturesMaximumsValue" class="col-sm-2 col-form-label">
                Today Max Temperature 
            </label>
            @Html.DisplayFor(model=>model.DailyForecastTemperaturesMaximumsValue)
            @Html.DisplayFor(model=>model.DailyForecastTemperaturesMaximumsUnit)

        </div>

        <div class="form-group row">
            <label asp-for="DailyForecastTemperaturesMinimumsValue" class="col-sm-2 col-form-label">
                Today Min Temperature 
            </label>
            @Html.DisplayFor(model=>model.DailyForecastTemperaturesMinimumsValue)
            @Html.DisplayFor(model=>model.DailyForecastTemperaturesMinimumsUnit)
        </div>

        <div class="form-group row">
            <label asp-for="HeadlinesText" class="col-sm-2 col-form-label">
                Text
            </label>
            @Html.DisplayFor(model=>model.HeadlinesText)
        </div>

        <div class="form-group row">
            <label asp-for="HeadlinesCategory" class="col-sm-2 col-form-label">
                Warning
            </label>
            @Html.DisplayFor(model=>model.HeadlinesCategory)
        </div>

        <div class="form-group row">
            <label asp-for="HeadlinesLink" class="col-sm-2 col-form-label">
                Link
            </label>
            @Html.DisplayFor(model=>model.HeadlinesLink)
        </div>
    </dl>
</div>
<div class="container">
    <form method="get">
        <button asp-controller="AccuWeather" asp-action="Index" class="btn btn-success">Index</button>
    </form>
</div>